
*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Lato', sans-serif;
    margin: 0;
    /*Kilde 9, se beskrivelse i eksamensdokumentet*/
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
}

header{ 
    grid-area: header;
}
main {
    grid-area: main;
}
footer{
    grid-area: footer;
}


/*SKIP TO CONTENT FOR ALLE SIDENE*/
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    /*Kilde 2, beskrivelse i eksamensdokumentet*/
    /*Kilde 12, beskrivelse i eksamensdokumentet*/
}
.skip:focus{
    position: static;
    width: auto;
    height: auto;
    /*Kilde 2, beskrivelse i eksamensdokumentet*/
}

/*HEADER NAV FOR ALLE SIDENE*/
.flex-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
}
    .flex-container img {
        width: 30%;
    }

.meny {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}
.meny a {
    text-decoration: none;
    color: #000;
    margin-bottom: 1rem;
}
header div img {
    width: 100%;
}
.btn {
    background-color: #e6bd43;
    padding: 0.5rem;
    font-weight: bold;
    margin-left: 9rem;
    margin-right: 9rem;
}
.meny a.active { 
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    /*Kilde 11, beskrivelse i eksamensdokumentet*/
}


.container { 
    position: relative;
    color: #000;
    /*Kilde 12, beskrivelse i eksamensdokumentet*/
}
    .container img {
        height: 400px;
        width: 100%;
        opacity: 40%;
    }
/*Skjuler video i header i mobil oppsett*/
#myVideo {
    display: none;
}

/*FORSIDEN*/
.centered { 
    display: grid;
    position: absolute;
    top: 2%;
    margin-left: 4rem;
    margin-right: 4rem;
    /*Kilde 12, beskrivelse i eksamensdokumentet*/
}
    .centered h1 {
        text-align: center;
        padding: 2rem;
        margin-bottom: 0;
    }
    .centered p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 1.75rem;
    }
    .centered nav {
        display: flex;
        justify-self: center;

    }
    .centered nav a {  
        text-decoration: none;
        color: #000;
        font-size: 4.5vw;
    }
    .btn3{
        background-color: #e6bd43;
        font-weight: bold;
        padding: 1rem;
    }


.subheading {
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
    }
    .subheading h2 {
        margin: 3rem 0 2rem 0;
        font-size: 5vw;
    }
    .subheading p {
        margin: 2rem 0 3.5rem 0;
    }


#company {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    padding-bottom: 5rem;
}
    #company img {
        align-self: center;
        width: 70%;
        margin-top: 2rem;
    }
    #company h3 {
        font-size: 5vw;
        margin: 3.5rem 7rem 0.5rem 6rem;
    }
    #company p {
        margin: 1rem 7rem 0.5rem 6rem;
        font-size: 4.5vw;
    }
    #company nav {
        display: flex;
        margin: 0.5rem 7rem 0.5rem 6rem;
    }
    .btn4 {
        flex-wrap: wrap;
        border: 3px solid #000;
        text-decoration: none;
        color: #000;
        padding: 1rem 1.5rem 1rem 1rem;
        font-size: 4.5vw;
        font-weight: bold;
    }

#our-services {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
    #our-services h2 {
        margin: 3rem 0 1.5rem 0;
        text-align: center;
    }
    #our-services article {
        max-width: 283px;
        min-width: 250px;
        width: 100%;
    }
    #our-services article p i {
        margin-top: 2.5rem;
        font-size: 8vw;
        text-align: center;
    }
    #our-services article h3 {
        text-align: center;
    }
    #our-services p {
        text-align: center;
    }


#sign-up{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin-top: 4rem;
}
    #sign-up h2 {
        text-align: center;
        margin-top: 4rem;
        font-size: 6vw;
    }
    #sign-up form {
    margin-bottom: 2.5rem;
    }
    #email{
        margin-left: 1.5rem;
        padding: 17px 45px 17px 17px;
        border: none;
    }
    .submit { 
        background-color: #e6bd43;
        font-weight: bold;
        border: none;
        padding: 17px;
        /*Kilde 15, beskrivelse i eksamensdokumentet*/
    }



/*PRODUKT*/
.heading {
    position: absolute;
    font-size: 7vw;
    top: 50%;
    left: 27%;
    /*Kilde 12, beskrivelse i eksamensdokumentet*/
}
.company-name-product {
    position: relative;
    color: #000;
    /*Kilde 12, beskrivelse i eksamensdokumentet*/
}
.company-name-product img {
    height: 400px;
    width: 100%;
    opacity: 40%;
}

/*PRODUKT - Explore previous jobs*/
#jobs {
    display: grid;
    margin-left: 3.5rem;
    margin-right: 3.5rem;

}
#jobs h2 {
    font-size: 5vw;
    margin-top: 2rem;
}

/*Gule streker på hele siden*/
.hl { 
    border: 2px solid #e6bd43;
    /*Kilde 16, beksrivelse i eksamensdokumentet*/
}


/*Skip to content knappene*/
.button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
    .button a {
        text-decoration: none;
        color: #000;
        padding: 10px;
        border: 1px solid #000;
    }
.design {
    margin-right: 3rem;
    margin-left: 1.5rem;
}
.development {
    margin-top: 1.5rem;
}


/*PRDODUKT - artikkelkort*/
#branding, #design, #development {
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
#branding h3, #design h3, #development h3 {
    font-size: 5vw;
    margin-top: 1.75rem;
}


.branding-image-section-1, .branding-image-section-2, .branding-image-section-3, .branding-image-section-4 {
    margin-top: 2.5rem;
}
.branding-image-section-1 img, .branding-image-section-2 img, .branding-image-section-3 img, .branding-image-section-4 img {
    width: 100%;
    max-width: 692px;
}
.branding-image-section-1 p, .branding-image-section-2 p, .branding-image-section-3 p, .branding-image-section-4 p {
    font-weight: bold;
    font-size: 4vw;
    margin-top: 1.5rem;
}


.design-image-section-1, .design-image-section-2, .design-image-section-3 {
    margin-top: 2.5rem;
}
.design-image-section-1 img, .design-image-section-2 img, .design-image-section-3 img {
    width: 100%;
    max-width: 692px;
}
.design-image-section-1 p, .design-image-section-2 p, .design-image-section-3 p {
    font-weight: bold;
    font-size: 4vw;
    margin-top: 1.5rem;
}


.development-image-section-1, .development-image-section-2 {
    margin-top: 2.5rem;
}
.development-image-section-1 img, .development-image-section-2 img {
    width: 100%;
    max-width: 692px;
}
.development-image-section-1 p, .development-image-section-2 p{
    font-weight: bold;
    font-size: 4vw;
    margin-top: 1.5rem;
}

/*ABOUT*/

.company-name {  
    position: relative;
    background-image: url('business-2846221_1280.jpg');
    background-repeat: no-repeat;
    height: 900px;
    /*Kilde 6,  beskrivelse i eksamensdokumentet */
    /*Kilde 12, beskrivelse i eksamensdokumentet*/
    /*Kilde 17, beskrivelse i eksamensdokumentet*/
}
    #frame { 
        display: flex;
        top: 5%;
        bottom: 10%;
        position: absolute;
        opacity: 85%;
        background-color: lightgrey;
        margin-left: 3.5rem;
        margin-right: 3.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        /*Kilde 12, beskrivelse i eksamensdokumentet*/
        /*Kilde 18, beskrivelse i eksamensdokumentet*/
    }
    #frame article h1 {
        font-size: 5vw;
        font-weight: lighter;
        margin-top: 2rem;
    }
    #frame article h2 {
        font-size: 5vw;
    }
    #frame article p {
        font-size: 5vw;
    }
    .btn5 a {
        text-decoration: none;
        background-color: #e6bd43;
        color: #000;
        display: inline-block;
        padding: 1rem;
        font-weight: bold;
        font-size: 4.5vw;
    }


/*SECTION LOGOS*/
.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e6bd43;
    padding-bottom: 2rem;
    padding-top: 3rem;
    margin-top: 3.5rem;
}
    .logos h2 {
        margin-bottom: 2.5rem;
    }
    .logos div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2rem;
    }

/*ABOUT - SECTION CONTACTFORM*/
#contact {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding-bottom: 2rem;
}
    #contact h2 {
        margin-top: 3rem;
        font-size: 5vw;
        text-align: center;
    }
    #contact h3 {
        margin-left: 1.5rem;
        margin-bottom: 0.5rem;
    }
    #contact form {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #contact form label{
        display: flex;
        flex-direction: column;
        padding: 10px;  
    }
    #contact form label input {
        border: none;
        padding: 0.75rem;
        margin-top: 0.5rem;
    }
    .text-window {
        height: 7rem;
        border: none;
    }
    .btn6 {
        border: none;
        background-color: #e6bd43;
        color: #000;
        font-weight: bold;
        margin-left: 0.77rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }
    #contact p {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 0;
    }
    #contact p i {
        margin-right: 1.5rem;
    }

/*ABOUT - kart */
#map {
    display: flex;
    overflow: hidden;
    width: 100vw;
}

/*FOOTER - for alle sidene*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
    color:#fff;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}


footer div a {
    color: #fff;
    font-size: 7vw;
    margin: 1rem;
}

/*SKIP TO TOP - for alle sidene*/
.btn2 { 
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 2.5rem 1.5rem 0;
    background-color: #252525;
    color: #fff;
    border-radius: 5%;
    padding: 13px 13px;
    /*Kilde 13, beskrivelse i eksamensdokumentet*/
}  


@media only screen and (min-width: 600px) and (max-width:1600px){

#grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.flex-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 0;
}
.logo img {
    width: 70%;
    margin-bottom: 1rem;
}
.meny {
    flex-direction: row;
    align-items: baseline;
    margin: 0.5rem;
}  
.meny a {
    margin-left: 1rem;
    margin-right: 0.25rem;
}
.btn:hover {
    background-color: #000;
    color: #e6bd43;
    /*Kilde 22, beskrivelse i eksamensdokumentet*/
}



/*FORSIDE*/
.centered {
    align-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
}
.centered h1 {
    font-size: 3.5vw;
}
.centered nav {
    padding: 1rem 1rem 1rem 1rem;
}
.centered nav a {
    font-size: 1.5vw;
}
.btn3:hover {
    background-color: #000;
    color: #e6bd43;
    /*Kilde 22, beskrivelse i eksamensdokumentet*/
}

/*HEADER - bilde og video*/
#myVideo {
    display: grid;
    opacity: 50%;
    object-fit: none;
    width: 100%;
    height: 450px;
    margin-bottom: 5rem;
    /*Kilde 10, beskrivelse i eksamensdokumentet*/
}
.index {
    display: none;
}


.subheading {
    margin-left: 15rem;
    margin-right: 15rem;
}
.subheading h2{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    font-size: 3.75vw;
}
.subheading p {
    font-size: 1.5vw;
}


#company {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 0;
}
    #company img {
    margin: 2rem 0 2rem 2rem;
    width: 100%;
    height: 100%;
    }

    #company div {
        align-self: center;
        margin-right: 14rem;
        margin-left: 2rem;
    }
        #company div h3 {
            font-size: 1.5vw;
            margin: 1rem 0 1rem 0;
        }
        #company p {
            font-size: 1.25vw;
            margin: 0 0 1rem 0;
        }
        #company nav {
            margin: 0 0 5rem 0;
        }
        #company nav a{
        font-size: 1.25vw;
        font-weight: bold;
        }
        .btn4 {
            padding: 1rem;
        }
        .btn4:hover {
            background-color: #000;
            color: #e6bd43;
            /*Kilde 22, beskrivelse i eksamensdokumentet*/
        }

#our-services {
    overflow: hidden;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
    #our-services h2 {
        font-size: 3vw;
        margin-top: 4rem;
    }
    #our-services article {
        float: left;
        margin-left: 90px;
    }
    #our-services article p i {
        font-size: 3.5vw;
    }
    #our-services p { 
        white-space: pre-line;
        /*Kilde 20, beskrivelse i eksamensdokumentet*/
        /*Kilde 24, beskrivelse i eksamensdokumentet*/
    }


#sign-up {
    align-items: center;
}
    #sign-up h2 {
        font-size: 3vw;
    }
    .submit:hover {
        background-color: #000;
        color: #e6bd43;
        /*Kilde 22, beskrivelse i eksamensdokumentet*/
    }


/*PRODUCT*/

.company-name-product {
    position: relative; 
    background-image: url('business-2846221_1280.jpg'); 
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    opacity: 40%;
    /*Kilde 6, beskrivelse i eksamensdokumentet*/
    /*Kilde 12, beskrivelse i eksamensdokumentet*/
}
    .company-name-product img {
        display: none;
    }
    .heading {
        position: absolute; 
        top: 33%;
        left: 40%;
        /*Kilde 12, beskrivelse i eksamensdokumentet*/
    }
    .heading h1 {
        font-size: 4vw;
    }

#jobs h2{
    font-size: 3vw;
    margin-bottom: 1rem;
}

.button {
    display: block;
    margin-bottom: 3rem;
    margin-top: 5rem;
}
    .design {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .branding:hover{
        background-color: #000;
        color: #e6bd43;
        /*Kilde 22, beskrivelse i eksamensdokumentet*/
    }
    .design:hover{
        background-color: #000;
        color: #e6bd43;
        /*Kilde 22, beskrivelse i eksamensdokumentet*/
    }
    .development:hover{
        background-color: #000;
        color: #e6bd43;
        /*Kilde 22, beskrivelse i eksamensdokumentet*/
    }



/*ARTIKKELKORTENE*/
#branding h3, #design h3, #development h3 {
    font-size: 3vw;
    margin-bottom: 1rem;
}
#branding p, #design p, #development p {
    font-size: 1.5vw;
}
.flex-image {
    display: flex;
    justify-content: space-between;
}

    .branding-image-section-1, .branding-image-section-2, .branding-image-section-3 {
        flex-grow: 1;
    }  /*Kilde 25, beskrivelse i eksamensdokumentet*/
    .branding-image-section-1 {
        margin-right: 1.75rem;
    }
    .branding-image-section-3 {
        margin-left: 1.75rem;
    }
    .branding-image-section-1 img, .branding-image-section-2 img, .branding-image-section-3 img, .branding-image-section-4 img {
        width: 100%;
    }
    .branding-image-section-1:hover, .branding-image-section-2:hover, .branding-image-section-3:hover, .branding-image-section-4:hover {
        transform: scale(1.1);
        transition: 1s ease;
    } /*Kilde 23, beskrivelse i eksamensdokumentet*/



    .design-image-section-1, .design-image-section-2, .design-image-section-3 {
        flex-grow: 1;
    }/*Kilde 25, beskrivelse i eksamensdokumentet*/
    .design-image-section-1 {
        margin-right: 1.75rem;
    }
    .design-image-section-3 {
        margin-left: 1.75rem;
    }
   .design-image-section-1 img, .design-image-section-2 img, .design-image-section-3 img {
        width: 100%;
    }
    .design-image-section-1:hover, .design-image-section-2:hover, .design-image-section-3:hover {
        transform: scale(1.1);
        transition: 1s ease;
    } /*Kilde 23, beskrivelse i eksamensdokumentet*/


#development {
    margin-bottom: 2rem;
}
    .development-image-section-1, .development-image-section-2 {
        flex-grow: 1;
    }/*Kilde 25, beskrivelse i eksamensdokumentet*/
    .development-image-section-1 {
        margin-right: 1.5rem;
    }
    .development-image-section-2 {
        margin-left: 1.5rem;
    }
    .development-image-section-1 img, .development-image-section-2 img {
        width: 100%;
    }
    .development-image-section-1:hover, .development-image-section-2:hover {
        transform: scale(1.1);
        transition: 1s ease;
    } /*Kilde 23, beskrivelse i eksamensdokumentet*/


/*ABOUT*/
.company-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
}
    #frame {
        grid-column: 2;
        margin: 1.5rem 3rem 1.5rem 0;
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 5rem;
        bottom: 1%;
        top: 1%;
    }
    #frame article h1 {
        font-size: 1.25vw;
        font-weight: lighter;
    }
    #frame article h2 {
        font-size: 1.5vw;
        font-weight: bold;
    }
    #frame article p {
        font-size: 1.25vw;
        margin-top: 1rem;
    }
    .btn5 a{
        font-size: 1.25vw;
        font-weight: bold;
    }
    .btn5 a:hover {
        background-color: #000;
        color: #e6bd43;
        /*Kilde 22, beskrivelse i eksamensdokumentet*/
    }

.logos {
    flex-direction: column;
    align-items: center;
}
    .logos h2{
        font-size: 2.5vw;
    }
    .logos img {
        margin: 1rem;
    }



#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
    #contact h2 {
        font-size: 2.5vw;
        grid-column: span 4; /*Kilde 20, beskrivelse i eksamensdokumentet*/
        justify-self: center;
        
    }
    .message {
        grid-area: 2/2;
        align-content: start;
    }
    .information {
        grid-area: 2/3;
    }
    .btn6 {
        margin-left: 0.5rem;
    }
    .btn6:hover {
        background-color: #000;
        color: #e6bd43;
        /*Kilde 22, beskrivelse i eksamensdokumentet*/
    }


/*FOOTER*/

footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer img {
    margin-left: 1rem;
    width: 70%;
}
footer p {
    text-align: center;
}
#logo1 a {
    font-size: 2vw;
}

}