
*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Lato', sans-serif;
    /*Kilde 9, se beskrivelse i eksamensdokumentet*/
    margin: 0;

}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
}

header{ 
    grid-area: header;
}
main {
    grid-area: main;
}
footer{
    grid-area: footer;
}


/*SKIP TO CONTENT FOR ALLE SIDENE*/
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus{
    position: static;
    width: auto;
    height: auto;
}

/*HEADER NAV FOR ALLE SIDENE*/
.flex-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
}
.flex-container img {
    width: 30%;
}

.meny {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

.meny a {
    text-decoration: none;
    color: #000;
    margin-bottom: 0.5rem;
}
header div img {
    width: 100%;
}
.btn {
    background-color: #e6bd43;
    padding: 0.5rem;
    font-weight: bold;
    margin-left: 9rem;
    margin-right: 9rem;
}
.meny a.active { /*Kilde 11, beksrivelse i eksamensdokumentet*/
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

/*OVERSKRIFTBILDE FOR INDEX OG PRODUCT */
header div img {
    width: 100%;
    opacity: 50%;
}
.container { /*Kilde 12, beskrivelse i eksamensdokumentet*/
    position: relative;
    color: #000;
}
.container img {
    height: 450px;
    margin-top: 0.5rem;
}
/*SKjuler video i header i mobil oppsett*/
#myVideo {
    display: none;
}

/*FORSIDEN*/
.centered { /*Kilde 12, beskrivelse i eksamensdokumentet*/
    display: grid;
    position: absolute;
    top: 2%;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
.centered h1 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 0;
}
.centered p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.btn3 {
    background-color: #e6bd43;
    padding: 1rem 4rem 1rem 1rem;
}
.btn3 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 4vw;
}


.subheading {
    text-align: center;
    margin-left: 3.5rem;
    margin-right: 3.5rem;

}
.subheading h2 {
    margin: 3rem 0 2rem 0;
    font-size: 6vw;
}
.subheading p {
    margin: 2rem 0 3.5rem 0;
}


#company {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    padding-bottom: 5rem;

}
#company img {
    align-self: center;
    width: 70%;
    margin-top: 2rem;
}
#company h3 {
    font-size: 5vw;
    margin: 3.5rem 7rem 0.5rem 6rem;
}
#company p {
    margin: 0.5rem 7rem 0.5rem 6rem;
    font-size: 4.5vw;
}
#company nav {
    display: flex;
    margin: 0.5rem 7rem 0.5rem 6rem;
}
.btn4 {
    flex-wrap: wrap;
    border: 3px solid #000;
    text-decoration: none;
    color: #000;
    padding: 1rem 1.5rem 1rem 0.5rem;
    font-size: 4.5vw;
    font-weight: bold;
}


#our-services {
   margin-left: 3.5rem;
   margin-right: 3.5rem;
}
#our-services h2 {
    margin: 3rem 0 1.5rem 0;
    text-align: center;
}
#our-services article p i {
    margin-top: 2.5rem;
    font-size: 8vw;
}
#our-services article h3 {
    text-align: center;
}
#our-services p {
    text-align: center;
}


#sign-up{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin-top: 4rem;
}
#sign-up h2 {
    text-align: center;
    margin-top: 4rem;
    font-size: 6vw;
}
#sign-up form {
  margin-bottom: 2.5rem;
}
#email{
    margin-left: 1.5rem;
    padding: 17px 45px 17px 17px;
    border: none;
}
.submit { /*Kilde 15, beskrivelse i eksamensdokumentet*/
    background-color: #e6bd43;
    font-weight: bold;
    border: none;
    padding: 17px;
}



/*PRODUKT*/
.heading {
    position: absolute;
    font-size: 7vw;
    top: 38%;
    left: 27%;
}

/*PRODUKT - Explore previous jobs*/
#jobs {
    display: grid;
    margin-left: 3.5rem;
    margin-right: 3.5rem;

}
#jobs h2 {
    font-size: 6vw;
}

/*Gule streker på hele siden*/
.hl { /*Kilde 16, beksrivelse i eksamensdokumentet*/
    border: 2px solid #e6bd43;
}


/*Skip to content knappene*/
.button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.button a {
    text-decoration: none;
    color: #000;
    padding: 10px 10px 10px 10px;
    border: 1px solid #000;
}
.design {
    margin-right: 3rem;
    margin-left: 1.5rem;
}
.development {
    margin-top: 1.5rem;
}


/*PRDODUKT - artikkelkort*/
#branding {
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
#branding h3 {
    font-size: 6vw;
    margin-top: 1.75rem;
}
#branding img {
    width: 100%;
    margin-top: 2.5rem;
}
#branding p {
    font-weight: bold;
    font-size: 4.5vw;
    margin-top: 1.5rem;
}


#design {
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
#design h3 {
    font-size: 6vw;
    margin-top: 1.75rem;
}
#design img {
    width: 100%;
    margin-top: 2.5rem;
}
#design p {
    font-weight: bold;
    font-size: 4.5vw;
    margin-top: 1.5rem;
}


#development {
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
#development h3 {
    font-size: 6vw;
    margin-top: 1.75rem;
}
#development img {
    width: 100%;
    margin-top: 2.5rem;
}
#development p {
    font-weight: bold;
    font-size: 4.5vw;
    margin-top: 1.5rem;
}

/*ABOUT*/
.company-name {  /*Kilde 6 og 17, beskrivelse i eksamensdokumentet*/
    position: relative;
    background-image: url('business-2846221_1280.jpg');
    background-repeat: no-repeat;
    height: 900px;
    margin-top: 0.5rem;
}
#frame { /*Kilde 18, beskrivelse i eksamensdokumentet*/
    display: flex;
    top: 5%;
    bottom: 10%;
    position: absolute;
    opacity: 85%;
    background-color: lightgrey;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
#frame article h1 {
    font-size: 6vw;
}
#frame article p {
    font-size: 5vw;
}
.btn5 a {   
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
    font-size: 4.5vw;
}


/*ABOUT - SECTION LOGOS*/
.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e6bd43;
    padding-bottom: 2rem;
    padding-top: 3rem;
    margin-top: 3.5rem;
}
.logos h2 {
    font-size: 7vw;
    margin-bottom: 2.5rem;
}
.logos img {
    margin-bottom: 2rem;
}

/*ABOUT - SECTION CONTACTFORM*/
#contact {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding-bottom: 2rem;
}
#contact h2 {
    margin-top: 3rem;
    font-size: 5vw;
    text-align: center;
}
#contact h3 {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}
#contact form {
    margin-left: 1rem;
    margin-right: 1rem;
}
#contact form label{
    display: flex;
    flex-direction: column;
    padding: 10px;  
}
#contact form label input {
    border: none;
    padding: 0.75rem;
    margin-top: 0.5rem;
}
.text-window {
    height: 7rem;
    border: none;
}
.btn6 {
    border: none;
    background-color: #e6bd43;
    color: #000;
    font-weight: bold;
    margin-left: 0.77rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
#contact p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
}
#contact p i {
    margin-right: 1.5rem;
}

/*ABOUT - kart */
#map {
    display: flex;
    overflow: hidden;
    width: 100vw;
}

/*FOOTER - for alle sidene*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
    color:#fff;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}


footer div a {
    color: #fff;
    font-size: 7vw;
    margin: 1rem;
}

/*SKIP TO TOP - for alle sidene*/
.btn2 { /*Kilde 13, beskrivelse i eksamensdokumentet*/
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 2.5rem 1.5rem 0;
    background-color: #252525;
    color: #fff;
    border-radius: 5%;
    padding: 13px 13px;
}  


@media only screen and (min-width: 600px) and (max-width:1600px){

#grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.flex-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 0;
}
.logo img {
    width: 70%;
    margin-bottom: 1rem;
}
.meny {
    flex-direction: row;
    align-items: baseline;
    margin: 0.5rem;
}  
.meny a {
    margin-left: 1rem;
    margin-right: 0.25rem;
}
.btn:hover {
    background-color: #000;
    color: #e6bd43;
}


.centered {
    justify-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
}
.centered h1 {
    font-size: 3.5vw;
}
.centered p {
    font-size: 1.5vw;
}

.btn3 {
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1rem 1rem 1rem 1rem;
    justify-self: center;
}
.btn3 a {
    font-size: 1.5vw;
    text-decoration: none;
}
.btn3:hover {
    background-color: #000;
    color:#e6bd43;
}


/* FORSIDE HEADER - bile og video*/
#myVideo {
    display: grid;
    opacity: 50%;
    object-fit: none;
    width: 100%;
    height: 400px;
    margin-bottom: 5rem;
}
.index {
display: none;
}

.subheading {
    margin-left: 15rem;
    margin-right: 15rem;
}
.subheading h2{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    font-size: 3.75vw;
}
.subheading p {
    font-size: 1.5vw;
}


#company {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#company img {

}
#company h3{
    font-size: 1vw;

}
#company p {
    font-size: 1vw;
}



.btn4:hover {
    background-color: #000;
    color: #e6bd43;
}

.submit:hover {
    background-color: #000;
    color: #e6bd43;
}

/*PRODUCT - Skip to content button for branding, design and development*/

.heading h1 {
    font-size: 5vw;
}
.button {
    flex-direction: row;
}
.button:hover{
    background-color: #000;
    color: #e6bd43;
}


#sign-up {
    align-items: center;
}
#sign-up h2 {
    font-size: 3vw;
}



/*PRODUCT - ARTIKKELKORTENE*/
#branding img {
    max-width: 692px;
}
#design img {
    max-width: 692px;
}
#development img {
    max-width: 692px;
}
#branding img:hover { /*Kilde 23, beskrivelse i eksamensdokumentet*/
    transform: scale(1.5);
    transition-duration: 1s;
}
#design img:hover { /*Kilde 23, beskrivelse i eksamensdokumentet*/
    transform: scale(1.5);
    transition-duration: 1s;
}
#development img:hover { /*Kilde 23, beskrivelse i eksamensdokumentet*/
    transform: scale(1.5);
    transition-duration: 1s;
}




/*ABOUT*/

.btn5 a{
    font-size: 1.5vw;
}

.btn5 a:hover {
    background-color: #000;
    color: #e6bd43;
}
.btn6:hover {
    background-color: #000;
    color: #e6bd43;
}

#frame {
    width: 40%;
    height: 85%;
    display: grid;
    grid-column: 2;
    grid-row: 2;

}
#frame article p {
    font-size: 75%;
    margin-top: 0.5rem;
}
#frame article h3 {
    font-size: 2vw;

}

.company-name{
    height: 400px;

}



/*FOOTER - for alle sidene*/
footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer img {
    margin-left: 1rem;
    width: 70%;
}
footer p {
    text-align: center;
}
#logo1 a {
    font-size: 2vw;
}

}