
*{
    box-sizing: border-box;
}
html {
    font-size: calc(1em + 1vw);
}

body {
    font-family: 'Roboto', 'Lato', sans-serif;
    /*Kilde 9, se beskrivelse i eksamensdokumentet*/
    margin: 0;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
}
.flex-container{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-container a{
    text-decoration: none;
    color: #000;
    flex-direction: column;
    margin: 0.5rem;
}

.logo {
    margin-top: 0.5rem;
}

/*CONTACT i nav*/
.btn {
    background-color: #e6bd43;
    color: #000;
    display: inline-block;
    padding-block: 0.25rem;
    font-weight: bold;
}

/*HEADER - endring av utseende for å vise hvilken siden en er på*/
.flex-container a.active { /*Kilde 11, beksrivelse i eksamensdokumentet*/
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

header div img {
    display: grid;
    width: 100%;
    height: 20rem;
    margin-top: 0.25rem;
    opacity: 50%;
}

/*FORSIDEN*/
.container { /*Kilde 12, beskrivelse i eksamensdokumentet*/
    position: relative;
    color: #000;
}

.centered { /*Kilde 12, beskrivelse i eksamensdokumentet*/
    position: absolute;
    top: 5%;
}

.centered h1 {
    font-weight: bold;
    font-size: 11vw;
    text-align: center;
    margin: 0.5rem;
}
.centered p {
    font-size: 5vw;
    text-align: center;
    margin: 0 2rem 0.5rem 1.5rem;
}
.centered a {
    text-decoration: none;
    margin-left: 1rem;
    font-size: 3vw;
}

.btn3 a{
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
    font-size: 4vw;
}

.subheading {
    text-align: center;
    font-size: 5vw;
}
.subheading h2 {
    margin: 2rem 2rem 0 2rem;
}
.subheading p {
    margin: 2rem;
}


.company {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    font-size: 4vw;
}
.company img {
    flex-direction: row;
    width: 70%;
    margin-top: 1rem;
    align-self: center;

}
.company h4 {
    display: flex;
    align-self: flex-start;
    margin: 1rem 3rem 1rem 3rem;
}
.company p {
    display: flex;
    align-self: flex-start;
    margin: 0 3rem 1rem 3rem;
}
.btn4 {
    display: flex;
    align-self: flex-start;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin: 0 3rem 1rem 3rem;
    padding: 0.5rem;
    font-size: 4vw;
    font-weight: bold;
}

.our-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4vw;
    margin-top: 2rem;
}
.our-services article {

    margin: 0;
}
.our-services h2 {
    margin-bottom: 2rem;
    text-align: center;
}
.our-services article h4 {
    margin: 0;
    text-align: center;
}
.our-services article p i {
    font-size: 7vw;
}
.our-services p {
    text-align: center;
    margin:  1rem 3rem 1.5rem 3rem;
}

#sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgray;

}
#sign-up h2 {
    text-align: center;
    font-size: 5vw;

}
#sign-up form {
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
#email{
    font-size: 3vw;
    padding: 10px;

}
.submit { /*Kilde 15, beskrivelse i eksamensdokumentet*/
    background-color: #e6bd43;
    font-weight: bold;
    border-style: ridge;
    border: none;
    padding: 10px;
}

/*PRODUKT - artikkelkort*/
.branding {
    max-width: 692px;
    flex-grow: inherit;
}

.design {
    max-width: 692px;
    flex-grow: inherit;


}
.development {
    max-width: 692px;
    flex-grow: inherit;

}

/*SKjule video i header i mobil oppsett*/
#myVideo {
    display: none;
}


/*ABOUT - kart */
frame {
    width: 100vw; /*or 100%*/
    height: 50vh; /*or 300px*/
    overflow: hidden;
}

iframe{
    width: 100vw; /*or 100%*/
    height: 500px; /*or 600*/
    padding: 0;
    border: 0;/*frameborder*/
    margin-top: -50px; /*or 150px*/
}

footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color:#fff;
    width: 100%;
    font-size: 5vw;
    padding-bottom: 1rem;
}
.logo1 img {
    margin-top: 2rem;
}

footer div a {
    color: #fff;
    text-decoration: none;
    font-size: 7vw;
    margin: 0.5rem;
}

/*SKIP TO TOP*/
.btn2 { /*Kilde 13, beskrivelse i eksamensdokumentet*/
    position: fixed;
    right: 0;
    margin: 0 3.5rem 0.75rem 0;
    width: auto;
    background-color: #252525;
    color: #fff;
    border-radius: 5%;
    padding: 10px 10px;
}  

@media only screen and (min-width: 600px) and (max-width:1600px){

#grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/*HEADER - bile og video*/
#myVideo {
    display: grid;
    opacity: 50%;
    object-fit: cover;
    width: auto;
}


header div img {
    display: none;
}


/*
- Video i header skal synes (bevegelse, men IKKE lyd)
- Hover effekt over knappene skal fungere 
    * Skal gå fra gulBAKGRUNN med sort skrift til sort bakgrunn med gulSKRIFT
- Bildene trekke opp på siden av hverandre (med 3 bilder i bredden)

*/






}




/*KILDE:
- Tekst over bilde og knapp som blir værende på siden ved scrolling 
https://www.w3schools.com/css/css_positioning.asp
*/